@import '../variables';

.dsm-btn {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  border-radius: $border-radius;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, color 0.2s, width 0.2s, box-shadow 0.2s cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s;
  background-color: $color-primary;
  color: $color-white;

  svg {
    height: 25px;
    width: 25px;
    margin-left: 50px;
    fill: $color-white;
  }

  .dsm-btn__content {
    font-family: $font-family;
    letter-spacing: 1.08px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
  }

  &.dsm-btn__with-icon {
    padding: 10px 13px;
  }

  &:active {
    border: 1px solid rgba(72, 107, 255, 0.2);
    box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.2);

    &:not(.dsm-btn__disabled) {
      padding: 9px 39px;

      &.dsm-btn__with-icon {
        padding: 9px 12px;
      }
    }
  }

  &:hover {
    background-color: $color-primary-darker;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);

    &:active {
      background-color: $color-primary;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $color-disabled !important;
    color: $color-gray;
    box-shadow: none !important;
    border: none !important;

    svg {
      fill: $color-gray;
    }
  }
}
