@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-family: 'Roboto', -apple-system, sans-serif;

$color-primary: #5377a1;
$color-primary-darker: #3d5878;
$color-white: #ffffff;
$color-disabled: rgba(128, 128, 128, 0.05);
$color-gray: #9e9e9e;
$color-gray-light: rgba(238, 238, 238, 0.9);
$border-radius: 3px;
